@font-face{
	font-family: 'yaBold';
	src: url('../fonts/yaBold.woff');
}
@font-face{
	font-family: 'NotoSansKR-Bold-Hestia';
	src: url('../fonts/NotoSansKR-Bold-Hestia.woff');
}

.noto{
	font-family: 'NotoSansKR-Bold-Hestia', sans-serif;
}
.ya{
	font-family: 'yaBold', sans-serif;
}
.hal{
	font-family: 'Gloria Hallelujah', cursive;
}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	letter-spacing: 1px;
}
body{
	color: #5D5D5D;
}
#wrap{
	width: 300px;
	margin: 0 auto;
}
header{
	width: 100%;
	min-height: 40px;
	position: relative;
	margin-top: 10px;
}
header:after{
	content: "";
	display: block;
	clear: both;
}
#header{
	float: left;
}
#header>h1{
	font-size: 30px;
	letter-spacing: 2px;
	margin: 0;
	line-height: 40px;
	text-indent: 20px;
}
#linkWrap{
	float: right;
}
#youtube, #potsunet, #asked{
	display: inline-block;
	width: 40px;
	height: 40px;
}
#youtube{
	background: url('../images/youtube.ico') center / cover;
}
#potsunet{
	background: url('../images/potsu.png') center / cover;	
}
#asked{
	background: url('../images/asked.png') center / cover;
}

article{
	margin-top: 10px;
}
article:after{
	content: "";
	display: block;
	clear: both;
}
section{
	width: 100%;
	margin-bottom: 50px;
}
section:after{
	content: '';
	display: block;
	clear: both;
}
h2{
	border-bottom: 2px solid #5D5D5D;
	margin-bottom: 10px;
}
h2:after{
	content: '';
	display: block;
	clear: both;
}
h2>span:first-child{
	position: absolute;
	display: inline-block;
	line-height: 10px;
	font-size: 8px;
	color: #F15F5F;
	transform: rotate(20deg);
}
h2>span:last-child{
	vertical-align: middle;
	float: right;
}
.audioWrap{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100px;
	line-height: 90px;
	text-align: center;
	background: #FFFF6C;
	border: 5px solid white;
	overflow: hidden;
	color: white;
	font-weight: bold;
	float: left;
}
.new{
	position: absolute;
	display: inline-block;
	line-height: 10px;
	right: 0;
	top: 10px;
	font-size: 8px;
	color: #F15F5F;
	transform: rotate(20deg);
}
.fileName{
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
	font-size: 20px;
	width: 90%;
	color: #5D5D5D;
}
.audioWrap:hover{
	border: 0;
}
.progress{
	width: 150px;
	height: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	border-radius: 0;
	background-color: red;
	opacity: 0.2;
	margin-bottom: 0;
}
.icon{
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.3;
}
.play{
	/* christmas update
	background: url('../images/icon_play.png') center / cover;
	*/
	background: url('../images/b49.gif') center / cover;
}
.pause{
	/* christmas update
	background: url('../images/icon_pause.png') center / cover;
	*/
	background: url('../images/sadfrogsanta.png') center / cover;
}

footer{
	text-align: center;
	border-top: 1px solid black;
	line-height: 50px;
}

.panel-collapse{
	overflow: hidden;
}
.panel-collapse:after{
	content: "";
	display: block;
	clear: both;
}

/*snow fall*/
#snowflakeContainer {
	position: absolute;
	left: 0px;
	top: 0px;
	pointer-events: none;
}
.snowflake {
	padding-left: 15px;
	font-family: Cambria, Georgia, serif;
	font-size: 14px;
	line-height: 24px;
	position: fixed;
	color: #B2EBF4;
	user-select: none;
	z-index: 1000;
}
.snowflake:hover {
	cursor: default;
}

@media all and (min-width:480px){
	/* christmas update
	#header{
		background: url('../images/Pikachu_vector_by_paperjoey-d3919s82.png') no-repeat;
		background-position: 30% 0;
		width: 100%;
		height: 350px;
		float: none;
	}
	#header>h1{
		font-size: 35px;
		letter-spacing: 5px;
		width: 100%;
		height: auto;
		position: absolute;
		text-align: right;
		bottom: 0;
	}
	*/
	body{
		background: url('../images/joyeux-noel-695573.jpg'), url('../images/large.gif');
		background-repeat: no-repeat, no-repeat;
		background-position: bottom left, bottom right;
		background-attachment: fixed, fixed;
	}
	#linkWrap{
		position: absolute;
		top:0;
		right: 0;
		float: none;
	}
	#youtube, #potsunet, #asked{
		width: 80px;
		height: 80px;
	}
	#wrap{
		width: 600px;
		min-width: 500px;
	}
	.audioWrap{
		width: 150px;
		height: 150px;
		line-height: 140px;
	}
	.fileName{
		font-size: 30px;
		line-height: 30px;
	}
	/*christmas update*/
	#youtubeHover{
		display: none;
	}
	#youtube:hover #youtubeHover{
		display: inline-block;
		position: absolute;
		background: url('../images/botube.png') center / cover;
		width: 240px;
		height: 160px;
		top: 80px;
	}
	#header{
		background: url('../images/pepesanta2.jpg') center / cover;
		width: 70%;
		height: 650px;
		float: none;
	}
	#header:hover{
		animation: shake 0.35s cubic-bezier(.36,.07,.19,.97) both;
		animation-iteration-count: infinite;
		transform: translate3d(0, 0, 0);
		backface-visibility: hidden;
		perspective: 1000px;
	}
	@keyframes shake {
		10%, 90% {
			transform: translate3d(-1px, 1px, 0);
		}
	
		20%, 80% {
			transform: translate3d(2px, -3px, 0);
		}
	
		30%, 50%, 70% {
			transform: translate3d(-3px, 2px, 0);
		}
	
		40%, 60% {
			transform: translate3d(3px, -1px, 0);
		}
	}
}

@media all and (min-width:980px){
	#header>h1{
		font-size: 60px;
		letter-spacing: 10px;
	}
	#wrap{
		width: 900px;
		min-width: 500px;
	}
	/*christmas update*/
}